/* CONTACT STYLES */
#contact {
  margin-top: 50px;
}

#contact h2{
  font-size: 30px;
	font-family: "Roboto Mono", monospace; 
  margin: 0;
}

#contact-info {
  width: 100%;
  display: flex;
}


#contact-form {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#contact-form form {
  width: 45%;
}

::placeholder {
  color: var(--cyan);
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
}

#contact-form  input, textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 60px; 
  padding-right: 0px;
  color: #777;
  padding-left: 0px;
  font-size: 22px;
  border-radius: 8px;
  border-color: var(--dark-pink);
}

#contact-form input, textarea {
  background-color: var(--nav-bg);
  border-width: 0;
}

#contact-form textarea {
  height: 140px;
  resize: none;
}
