/* GENERAL */

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/Roboto-Light.ttf"), format("truetype");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/open-sans/OpenSans-Regular.ttf"), format("truetype");
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf"), format("truetype");
}

* {
	  transition: background-color 0.7s ease, color 0.7s ease;
}

.icon {
	margin-right: 5px;
}


html, body {
	  background: var(--background-color);
	  color: var(--foreground-color);
	  margin: 0;
	  font-family: "Open Sans", sans-serif;
	  font-weight: 300;

	  /* VARIABLES */
	  /*--background-color: #0c0c0c; */
	  --background-color: #ffffff;
	  --foreground-color: #0f0f0f;

	  /*--soft-background: #ddd; */
	  --soft-background: var(--background-color);
	  /*--secondary-background-color: #0c0c0c */
	  --secondary-background-color: var(--background-color);
	  /*--secondary-foreground-color: #FFC66D; */
	  --secondary-foreground-color: var(--foreground-color);
	  --strong-foreground-color:var(--foreground-color);


	  --strong-blue: #3a81bd;
	  --hyperlink-color: #e177e5;

	  --violet: #bd15c2;
	  --light-violet:  #db84de;

	  --cyan: #eee;
	  --darker-cyan: #1f71b4;
	  --gray: #262626;
	  --code-bg: #f2f2f2;
	  --light-gray: #ececec;

	  --feldteiler-fg: #000;

	  --nav-bg: var(--background-color);
	  --nav-fg: #4f4f4f;
	  --nav-foc-fg: var(--strong-blue);

	  --name-color:  #484848;
	  --name-shadow-color: #dfdfdf;
	  --icons-color: #6c6c6c;

	 font-size: max(0.9vw, 2vw);
	 min-height: 100vh;
	 height: fit-content;
	 width: 100%;
}

p span {
	display: block;
	margin-bottom: 0px;
}

.container {
	width: 45%;
	margin: 0 auto;
}

#main {
	padding: 15px;
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
}

#main strong {
	color: var(--strong-blue);
}

.alt-btn-icon {
	height:25px;
	width:25px;
	margin-right: 5px;
}

.alternative-button {
	color: var(--nav-fg);
	display: flex;
	align-items: center;
}

.alternative-button:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #2e7cb9;
}

#main a {
	user-select: none;
}


#active {
	color: var(--violet);
}

#active:hover {
	color: var(--violet);
}

.section {
	margin-top: 20px;
	margin-bottom: 10px;
}

.section p {
	color: var(--gray);
	font-size: 17px;
}

#beschreibung ul {
	display: flex;
	justify-content: center;
	padding: 0;
	width: 100%;
	margin-bottom: 50px;
}

#beschreibung ul li {
	margin-right: 10px;
	list-style-type: none;
}

#beschreibung ul li a{
	padding: 0;
	color:  #ccc;
	font-size: 30px;
}

#beschreibung ul li a:hover {
	text-decoration: underline;
	color: var(--strong-blue);
}

#beschreibung ul li a svg{
	width: 26px;
	height: 26px;
}

#beschreibung ul li a img {
	width: 34px;
	height: 34px;
}

#beschreibung ul li a:hover {
	background-color: var(--background-color);
}

.feldteiler {
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--feldteiler-fg);
	text-decoration: underline;
	font-weight: 600;
	text-transform: uppercase;
}

.blog-link {
	text-decoration: underline;
}

.blog-link::after {
	content: "\a";
	white-space: pre;
}

#erfahrung h1 {
}


#name {
	font-weight: 600;
	width: 100%;
	text-align: center;
	color: var(--name-color);
	font-size: 46px;
}

#description-ich {
	margin-top: 0;
	color: #7b7b7b;
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 23px;
}

#kurze-beschreibung {
	color: var(--gray);
}


#skillsets {
	display: flex;
	width: 100%;
}

.skillset-container {
	max-width: 30%;
	margin-right: 30px;
}

.skillset-container p {
	color: var(--darker-cyan);
}

.skillset-container ul {
	list-style: none;
	padding: 0;
}

.skillset-container ul li {
	margin-top: 10px;
	display: flex;
}
.skillset-liste li {
	color: var(--gray);
}

.skillset-liste li img {
	max-width: 24px;
	width: fit-content;
}

#kontakt a {
	background-color: var(--cyan);
	border-radius: 5px;
	color: var(--background-color);
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0px 2px #aaa;
}


#kontakt a:hover {
	color: #fff;
}

/*
.vexp-teilung {
	background: #3A3A3A;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.exp-teilung h1 {
	color: var(--foreground-color);
}
*/

#navbar {
	background-color: var(--nav-bg);
	padding: 9px;
	border-radius: 5px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 18px;
	margin-top: 10px;
}

#navbar ul {
	width: fit-content;
	height: 100%;
	align-items: center;
}

#navbar ul li {
	margin-right: 10px;
	user-select: none;
}

#navbar ul li .nav_list_focused {
	color: var(--nav-foc-fg);
	padding: 8px 20px;
	text-decoration: underline;
}

#navbar ul li a:hover {
	user-select: none;
	cursor: pointer;
	color: #2e7c9b;
}

#theme-switcher {
	cursor: pointer;
}

p a {
	color: #000;
}

p a:hover {
	color: #2e7c9b;
}

.navigation {
	display: flex;
	list-style: none;
	width: 100%;
	padding: 0px;
	margin: 8px;
	justify-content: left;
}

#extras-nav {
	justify-content: right;
}

ul li a {
	font-weight: bold;
	text-decoration: none;
	padding: 8px 20px;
	color: #797979;
}

.text_link {
	color: var(--strong-blue);
	text-decoration: none;
}

/* MEDIA QUERIES */

@media (min-width: 481px) {
	/* Set navbar to be visible */
	/* Set hamburger menu to be invisible */

	 #hamb-menu {
		display: none;	
	 }
}

@media (max-width: 1080px) {
	/* Set navbar to be invisible */
	/* Set hamburger menu to be visible */
}

@media (max-width: 900px) {
}

@media (min-width: 1500px) {
	body {
		font-size: max(0.8vw, 0.90vw);
	}
}

@media (max-width: 768px) {
	body {
		font-size: max(1vw, 2.5vw);
	}

	#name {
		font-size: max(2vw, 4vw);
	}

}
