/* GENERAL */
html, body {
	  background: var(--background-color);
	  color: var(--foreground-color);
	  margin: 0;
	  font-family: "Inter", sans-serif;

	  /* VARIABLES */
	  --background-color: #121212;
	  --foreground-color: #aaa;

	  --secondary-background-color: #131313;
	  --strong-foreground-color: #fff;

	  --feldteiler-fg: #ddd;

	  --hyperlink-color: #e177e5;

	 display: flex;	
	 justify-content: center;
	 align-items: center;
	 font-size: 15px;
  }

#main {
	/* SIZE */
	width: 750px;
	height: 100vh;
	background: var(--secondary-background-color);
	padding: 15px;
}

.section {
	margin-top: 75px;
}

.section div {
	margin-top: 50px;
}

#main a {
	color: var(--hyperlink-color);
}

#beschreibung {
}

.feldteiler {
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--feldteiler-fg);
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px;
  	/**color: var(--foreground-color);*/
}

.blog-link {
	text-decoration: underline;
}

.blog-link::after {
	content: "\a";
	white-space: pre;
}

#erfahrung h1 {
	font-size: 15px;
}


#name {
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

#kontakt a {
	background-color: var(--hyperlink-color);
	color: black;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
}


#kontakt a:hover {
	color: #fff;
}

.exp-teilung {
	background: #282828;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.exp-teilung h1 {
	color: #ddd;
}
