/* GENERAL */

@font-face {
	font-family: "Marriweather";
	src: url("../fonts/marriweather/Merriweather-Regular.ttf"), format("truetype");

}

@font-face {
	font-family: "MarriweatherBold";
	src: url("../fonts/marriweather/Merriweather-Bold.ttf"), format("truetype");
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/inter-regular.ttf"), format("truetype");
}

@font-face {
	font-family: "RobotoSlab";
	src: url("../fonts/robotoslab/RobotoSlab-Regular.ttf"), format("truetype");
}

@font-face {
	font-family: "RobotoSlabLight";
	src: url("../fonts/robotoslab/RobotoSlab-Light.ttf"), format("truetype");
}

@font-face {
	font-family: "RobotoSlabMedium";
	src: url("../fonts/robotoslab/RobotoSlab-Medium.ttf"), format("truetype");
}

@font-face {
	font-family: "RobotoSlabMedium";
	src: url("../fonts/robotoslab/RobotoSlab-Medium.ttf"), format("truetype");
}

@font-face {
	font-family: "LatoRegular";
	src: url("../fonts/lato/Lato-Regular.ttf"), format("truetype");
}

@font-face {
	font-family: "LatoLight";
	src: url("../fonts/lato/Lato-Light.ttf"), format("truetype");
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/opensans/OpenSans-Regular.ttf"), format("truetype");
}

@font-face {
	font-family: "OpenSansLight";
	src: url("../fonts/opensans/OpenSans-Light.ttf"), format("truetype");
}

* {
	  transition: background-color 0.7s ease, color 0.7s ease;
}

.icon {
	margin-right: 5px;
}


html, body {
	  background: var(--background-color);
	  color: var(--foreground-color);
	  margin: 0;
	  font-family: "Marriewather", sans-serif;
	  font-weight: 400;

	  /* VARIABLES */
	  /*--background-color: #0c0c0c; */
	  --background-color: #ffffff;
	  --foreground-color: #0f0f0f;

	  /*--soft-background: #ddd; */
	  --soft-background: var(--background-color);
	  /*--secondary-background-color: #0c0c0c */
	  --secondary-background-color: var(--background-color);
	  /*--secondary-foreground-color: #FFC66D; */
	  --secondary-foreground-color: var(--foreground-color);
	  --strong-foreground-color:var(--foreground-color);


	  --hyperlink-color: #e177e5;

	  --violet: #bd15c2;
	  --light-violet:  #db84de;

	  --cyan: #eee;
	  --darker-cyan: #1f71b4;
	  --gray: #282828;
	  --code-bg: #f2f2f2;
	  --light-gray: #ececec;

	  --feldteiler-fg: #000;

	  --nav-bg: #222222;
	  --nav-fg: #b9b9b9;
	  --sprache-focused-bg: #a2a2a2;

	  --name-color:  #484848;
	  --name-shadow-color: #dfdfdf;
	  --icons-color: #6c6c6c;

	 font-size: max(0.9vw, 2vw);
	 min-height: 100vh;
	 height: fit-content;
	 width: 100%;
}

#main {
	background: var(--secondary-background-color);
	padding: 15px;
	width: 55%;
	font-family: "Marriweather", sans-serif;
	margin: 0 auto;
}

#selected-sprache {
	color: var(--cyan);
	cursor: pointer;
	font-weight: bolder;
	background-color: var(--background-color);
	padding: 6px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.alt-btn-icon {
	height:25px;
	width:25px;
	margin-right: 5px;
}

.alternative-button {
	color: var(--nav-fg);
	display: flex;
	align-items: center;
}

.alternative-button:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #2e7cb9;
}

/*
#selected-sprache:before {
	content: '';
	display: block;
	width: 32px;
	height: 24px;
	background-image: url("../flags/german-flag.png");
	margin-right: 5px;
}
*/

#sprache {
	margin-top: 20px;
	display: inline-block;
	background-color: red;
}

#sprache li {
	margin: 0;
}

#main a {
	user-select: none;
}


#active {
	color: var(--violet);
}

#active:hover {
	color: var(--violet);
}

/*
.sprache-button {
	color: var(--light-violet);
	background: var(--soft-background);
	border-radius: 5px;
	border-color: #111;
	font-size: 15px;
	margin-right: 5px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
}

.sprache-button:hover {
	cursor: pointer;
	color: var(--light-violet);
}
*/


.section {
	margin-top: 50px;
	margin-bottom: 20px;
}

.section p {
	color: var(--gray);
}

#beschreibung ul {
	display: flex;
	justify-content: left;
	padding: 0;
	width: 50%;
	margin-bottom: 50px;
}

#beschreibung ul li {
	margin-right: 10px;
	list-style-type: none;
}

#beschreibung ul li a{
	padding: 0;

}

#beschreibung ul li a:hover {
	text-decoration: underline;
	color: #2e7cb9;
}

#beschreibung ul li a img {
	width: 34px;
	height: 34px;
}

#beschreibung ul li a:hover {
	background-color: var(--background-color);
}

.feldteiler {
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--feldteiler-fg);
	text-decoration: underline;
	font-weight: 600;
	font-family: "OpenSansRegular";
	text-transform: uppercase;
}

.blog-link {
	text-decoration: underline;
}

.blog-link::after {
	content: "\a";
	white-space: pre;
}

#erfahrung h1 {
}


#name {
	font-weight: 600;
	max-width: fit-content;
	color: var(--name-color);
	font-size: max(3vw, 3.5vw);
}

#description-ich {
	margin-top: 0;
	color: var(--gray);
}

#kurze-beschreibung {
	color: var(--gray);
}


#skillsets {
	display: flex;
	width: 100%;
}

.skillset-container {
	max-width: 30%;
	margin-right: 30px;
}

.skillset-container p {
	color: var(--darker-cyan);
}

.skillset-container ul {
	list-style: none;
	padding: 0;
}

.skillset-container ul li {
	margin-top: 10px;
	display: flex;
}
.skillset-liste li {
	color: var(--gray);
}

.skillset-liste li img {
	max-width: 24px;
	width: fit-content;
}

#kontakt a {
	background-color: var(--cyan);
	border-radius: 5px;
	color: var(--background-color);
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0px 2px #aaa;
}


#kontakt a:hover {
	color: #fff;
}

/*
.vexp-teilung {
	background: #3A3A3A;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.exp-teilung h1 {
	color: var(--foreground-color);
}
*/

#navbar {
	background-color: var(--nav-bg);
	padding: 9px;
	border-radius: 5px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: lowercase;
	font-family: "Marriweather";
	font-size: max(0.6vw, 0.65vw);
}

#navbar ul {
	width: fit-content;
	height: 100%;
	align-items: center;
}

#navbar ul li {
	margin-right: 10px;
	user-select: none;
}

#theme-switcher {
	cursor: pointer;
}

#sprache-div {
	width: 100%;
	display: none;
	justify-content: right;
	position: relative;
}

#sprache-div ul {
	border-radius: 10px;
	height: fit-content;
	width: 128px;
}

p a {
	color: #000;
}

p a:hover {
	color: #2e7c9b;
}

#sprache-div ul li:hover {
	background-color: #bfbfbf;
}

#sprache-div ul li{
	margin: 0;
	border-radius: 10px;
	color: var(--cyan);
	padding: 5px;
}

#sprache-div ul li #sprache-focused {
	color: white;
}

#sprache-div ul li #sprache-focused:hover {
	background-color: var(--sprache-focused-bg);
	cursor: default;
}

#sprache-div ul li a {
	color: #4a4a4a;
	display: flex;
	align-items: center;
	width: 100%;
}

#sprache {
	margin: 20px;
	padding: 0px;
	display: inline-block;
	background: #cecece;
	width: 130px;
	border-radius: 5px;
	margin: 15px;
	list-style: none;
	position: absolute;
	top: 0px;
	right: -16px;

}


#sprache-focused:hover {
	background-color: var(--sprache-focused-bg);
	border-radius: 10px;
}


#sprache-focused a {
	color: black;
}

li #sprache-focused {
	background-color: var(--sprache-focused-bg);
	color: white;
	border-radius: 10px;
}

#sprache li {
	display: flex;
	margin: 0;
}

#sprache li:hover {
	background: #cfcfcf;
	cursor: pointer;
}

#sprache li a {
	display: flex;
	padding: 10px;
}

#sprache li a img{
	width: 24px;
	height: 24px;
	margin-right: 5px;
}


/*
#sprache li:before {
	content: '';
	width: 32px;
	height: 24px;
	margin-right: 8px;
}

#ar:before {
	background-image: url("../flags/argentina-flag.png");
}

#en:before {
	background-image: url("../flags/us-flag.png");
}

#de:before {
	background-image: url("../flags/german-flag.png");
}
*/

.navigation {
	display: flex;
	list-style: none;
	width: 100%;
	padding: 0px;
	margin: 8px;
	justify-content: left;
}

#extras-nav {
	justify-content: right;
}

#sprache li{
	margin: 5px;
}

#sprache a {
	color: white;
}


#sprache-focused {
	margin: 0;
}

li .nav_list_focused {
	color: #2e7c9b;
	padding: 8px 20px;
	text-decoration: underline;
}

ul li a {
	font-weight: bold;
	color: var(--nav-fg);
	text-decoration: none;
	padding: 8px 20px;
}

ul li a:hover {
	color: #7594ae;
}



/* MEDIA QUERIES */

@media (min-width: 481px) {
	/* Set navbar to be visible */
	/* Set hamburger menu to be invisible */

	 #hamb-menu {
		display: none;	
	 }
}

@media (max-width: 1080px) {
	/* Set navbar to be invisible */
	/* Set hamburger menu to be visible */
}

@media (max-width: 900px) {
}

@media (min-width: 1500px) {
	body {
		font-size: max(0.8vw, 0.90vw);
	}
}

@media (max-width: 768px) {
	body {
		font-size: max(1vw, 2.5vw);
	}

	#name {
		font-size: max(2vw, 4vw);
	}

}