/* GENERAL */
html, body {
  background: var(--bg);
  margin: 0 ;
  scroll-behavior: smooth;

  /* VARIABLES */
  --pink: #D3869B;
  --dark-pink: #B16286;
  --cyan: #458588;
  --blue: #83a598;
  --orange: #b8bb26;
  --yellow: #fabd2f;
  --dark-yellow: #d79921;
  --nav-bg: #fff;
  --bg: #eee;
  --press-h2-fg: #444;
  --projects-bg: var(--bg);
  --contact-bg: #282828; 
  --text-shadow: 1px 1px 1px #aaa;
}

.main {
  margin: 0 auto;
  width: 100%;
  color: #3c3836;
  height: 100vh;
  max-height: 100vh;
}

.button{
  background-color: var(--nav-bg);
  border-color: var(--nav-bg);
  height: 40px;
  color: var(--pink);
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  font-size: 22px;
  border-radius: 8px;
}

/* SECTION */
section {
  padding-top: 40px;
  height: 100vh;
  width: 100%;
}

.section-separator {
  text-transform: uppercase;
  display: flex;
  color: var(--press-h2-fg);
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
	font-family: "Roboto Mono", monospace; 
  text-shadow: var(--text-shadow);
  text-shadow: var(--text-shadow);
}

/* MEDIA QUERIES */
@media (max-width: 480px) {

  #navbar ul li a{
    font-size: 20px;
  }

}

@media (max-width: 1024px) {

  #navbar ul li a{
    font-size: 22px;
  }


  #pres-info h2{
    font-size: 55px;
  }

  #pres-info h3{
    font-size: 25px;
  }

  #pres-info p button{
    width: 200px;
    text-transform: capitalize;
    color: var(--blue);
    font-weight: 600;
    font-size: 22px;
  }

}

@media (max-width: 960px) {

  #navbar {
    justify-content: center;

  }

  .nav-links {
    width: 50%;
  }

  #navbar ul li a{
    font-size: 20px;
  }


  #pres-info h2{
    font-size: 45px;
  }

  #pres-info h3{
    font-size: 25px;
  }
}

.smaller-nav {
  width: 100%;
  height: 70px;
  display: none;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  position: fixed;
  transition: transform 0.5s ease-in;
}

.smaller-nav ul{
  background-color: var(--nav-bg);
  border-radius: 40px;
  padding-left: 0px;
}

@media (max-width: 768px) {

  body {
    /*overflow-x: hidden;*/
  }

  .nav-links {
    display: none;
  }

  .menu {
    display: block;
  }

  #navbar ul li a{
    font-size: 22px;
  }

  #original-title {
    font-size: 45px;
  }

  #pres-info h3{
    font-size: 22px;
  }

  #pres-info h2{
    font-size: 40px;
  }

}

.activate {
  display: flex;
}

@media (max-width: 710px) {

  #pres-info h2{
    font-size: 50px;
  }

  .info-h3 span{
    font-size: 19px;
  }

  #navbar ul li a{
    font-size: 18px;
  }

  .menu-links ul li{
    margin: 0px;
  }

  .menu {
    margin-left: 29px;
  }

  #original-title {
    display: none;
  }

  #smaller-title {
    display: flex; 
  }

  .smaller-a {
    font-size: 19px;
  }

}

@media (max-width: 585px) {

  .smaller-a {
    font-size: 16px;
  }

}

@media (max-width: 510px) {

  #pres-info h2{
    font-size: 40px;
  }

  .info-h3 span{
    font-size: 20px;
  }

  #navbar ul li a{
    font-size: 19px;
  }

  #misc-links {
    margin-right: 10px;
  }

  #misc-links li{
    margin: 5px;
  }

  #pres-info p button{
    font-size: 16px;
    width: 150px;
    height: 35px;
  }

  .menu {
    margin-left: 29px;
  }

  #original-title {
    display: none;
  }

  #smaller-title {
    display: flex; 
  }

  #contact-form form{
    width: 65%;
  }

  .info-h3 span{

    font-size: 15px;
  }

  .smaller-a {
    font-size: 15px;
  }

}

@media (max-width: 460px) {

  .smaller-a {
    font-size: 14px;
  }

}

.active {
  color: var(--cyan);
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-2 12:43:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
