/* PRESENTATION */

#presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

#pres-content {
  width: 100%;
  height: 52%;
}

#pres-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
}

.title span{
  font-size: 35px;
}

#pres-info h1, h2, h3{
  height: 85px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: end;
  color: var(--dark-pink);
}

#pres-info p{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
}

#pres-info p button{
  width: 300px;
  text-transform: capitalize;
  color: var(--blue);
  font-size: 28px;
  font-weight: 600;
}


#pres-content h2 {
  text-shadow: var(--text-shadow);
  font-size: 60px;
  color: var(--press-h2-fg);
  margin-top: 0;
  font-family: 'Roboto Mono', monospace;
	font-weight: 900;
  margin-bottom: 0px;
}

#smaller-title {
  display: none;
  font-size: 90px;
  width: 100%;
}

.info-h3 {
  font-size: 33px;
  font-family: 'Roboto Mono', italic;
  margin-top: 2%;
  height: 50%;
	font-weight: 300;
  font-weight: bold;
}

.info-h3 span{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
}

#pres-info {
  width: 100%;
  height: 30%;
}

#alternative-h3 {
  display: none;
}
