#posts-container {
	padding: 15px;
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.post-container {
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
	width: 70%;
	background-color: #f9f9f9;
	border-color: black;
	border: rgb(209, 209, 209) 3px solid;
}

.post-date {
	margin-top: 2px;
	margin-bottom: 2px;
	font-style: italic;
	font-weight: bold;
}

.post-title {
	margin-top: 4px;
	margin-bottom: 2px;
	color: var(--darker-cyan)
}

.post-description {
	margin-top: 5px;
	margin-bottom: 3px;
	color: #a0a0a0;
}